<%- include("header") -%>
<body>
    <div class="box" id="heading">
        <h1><%= listHeading %></h1>
    </div>
    <h2></h2>
    <ul>
        <div class="box">
            <% for (var i = 0; i < newItem.length; i++) { %>
                <% if (newItem[i] != "") { %>
                    <form action="/delete" method="post">
                        <div class="item">
                            <input type="checkbox" name="checkBox" value="<%= newItem[i]._id %>" onchange="this.form.submit()">
                            <p class="itemText">
                                <%= newItem[i].name %>
                            </p>
                        </div>
                        <input type="hidden" name="list" value="<%= listHeading%>"></input>
                    </form>
                <% } %>
                <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value="<%= listHeading %>">+</button>
                </form>
        </div>
    </ul>
<%- include("footer") -%>